<!--
<div class="col-sm-6">
<input type="text" id="alcohol" name="alcohol" ng-model="request.request.alcohol">
</div>
</div>
<div class="form-group input-set">
<label for="flavor" class="col-sm-6 control-label">Flavor</label>
<div class="col-sm-6">
<input type="text" id="flavor" name="flavor" ng-model="request.request.flavor">
</div>
</div>
<div class="form-group input-set">
<label for="quantity" class="col-sm-6 control-label">Quantity</label>
<div class="col-sm-6">
<input type="text" id="quantity" name="quantity" ng-model="request.request.quantity">
</div>
</div>
<div class="form-group input-set">
<label for="notes" class="col-sm-6 control-label">Additional notes</label>
<div class="col-sm-6">
<input type="textarea" id="notes" name="notes" ng-model="request.request.notes">
</div>
</div>
<div class="col-sm-offset-3 col-sm-6 input-set">
<input type="submit" value="Add" class="btn">
</div>
</form>

</div> -->

<div class="add-form row">

  <form ng-submit="product.create()">
    <div class="form-group input-set">
      <label class="col-sm-6 control-label" for="name">Name</label>
      <div class="col-sm-6">
        <input type="text" id="name" name="name" ng-model="product.product.name">
      </div>
    </div>
    <div class="form-group input-set">
      <label class="col-sm-6 control-label" for="description">Description</label>
      <div class="col-sm-6">
        <input type="text" id="description" name="description" ng-model="product.product.description">
      </div>
    </div>
    <div class="form-group input-set">
      <label class="col-sm-6 control-label" for="alcohol">Type of Alcohol</label>
      <div class="col-sm-6">
        <input type="text" id="alcohol" name="alcohol" ng-model="product.product.alcohol">
      </div>
    </div>
    <div class="form-group input-set">
      <label class="col-sm-6 control-label" for="quantity">Quantity of stock</label>
      <div class="col-sm-6">
        <input type="text" id="quantity" name="quantity" ng-model="product.product.quantity">
      </div>
    </div>
    <div class="form-group input-set">
      <label class="col-sm-6 control-label" for="image">Image</label>
      <div class="col-sm-6">
        <input type="text" id="image" name="image" ng-model="product.product.image">
      </div>
    </div>
    <div class="form-group input-set">
      <label class="col-sm-6 control-label" for="price">Price per unit</label>
      <div class="col-sm-6">

        <input type="text" id="price" name="price" ng-model="product.product.price" placeholder="e.g. 20€ per bottle">
      </div>
    </div>
    <div class="form-group input-set">
      <label class="col-sm-6 control-label" for="location">Location</label>
      <div class="col-sm-6">
        <input type="text" id="location" name="location" ng-model="product.product.location">
      </div>
    </div>
    <div class="col-sm-offset-3 col-sm-6 input-set">
      <input type="submit" value="Add" class="btn prod">
    </div>
  </form>

</div>
