<form ng-submit="product.create()">
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" id="description" name="description" ng-model="product.product.description">
  </div>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="text" id="quantity" name="quantity" ng-model="product.product.quantity">
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="text" id="image" name="image" ng-model="product.product.image">
  </div>
  <div class="form-group">
    <label for="price">Price (msut be an integer)</label>
    <input type="text" id="price" name="price" ng-model="product.product.price">
  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" id="location" name="location" ng-model="product.product.location">
  </div>

  <input type="submit" value="Add">
</form>
