<!DOCTYPE html>
<html ng-app="AlcoholApp">
<head>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <meta charset="utf-8">
  <title>Angular Stack Setup</title>
  <base href="/">

  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main" ng-class="{ 'yo': main.bg }">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="main.isNavCollapsed = !main.isNavCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">Top Shelf</a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="main.isNavCollapsed">
      <ul class="nav navbar-nav">
        <li ui-sref="register" ng-hide="main.user">Register</li>
        <li ui-sref="login" ng-hide="main.user">Login</li>
        <li ng-click="main.logout()" ng-show="main.user">Logout</li>
        <li ui-sref="userShow({ id: main.user.id })" ng-show="main.user">Profile</li>
        <li ui-sref="requestsIndex" ng-show="main.user">Requests</li>
        <li ui-sref="productsIndex" ng-show="main.user">Products</li>
      </ul>
    </div>
  </nav>
  <main ui-view></main>
</body>
</html>
