body {
  background: linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) ), url("http://www.psdgraphics.com/file/old-paper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
nav {
  background-color: rgba(47, 43, 33, .8) !important;
  // background-size: cover;
  border: none !important;
  a {
    color: salmon !important;
  }
  ul {
    float: right !important;
  }
  li {
    font-size: 17px;
    padding: 14px 5px;
    color: salmon;
  }
  li:hover {
    background-color: rgba(47, 43, 33, .4);
  }
}
h1 {
  color: red;
}

.form {
  margin: 0 auto;
  padding-top: 80px;
  width: 500px;
  color: red;
  h2 {
    margin: 0 auto 40px;
    text-align: center;
  }
  form {
    input, label {
      display: block;
      margin: 20px auto;
      width: 70%;
      font-size: 17px;
      border: none;
    }
    .textInput {
      border-bottom: 2px solid red;
      background-color: rgba(0, 0, 0, 0) !important;
    }
    .textInput:focus {
      border-bottom: 4px solid red;
      outline-width: 0px;
    }

    .button {
      background-color: red;
      border: 1px solid rgba(47, 43, 33, 1);
      margin-top: 30px;
      color: rgba(47, 43, 33, 1);
      font-weight: 800;

    }
    .button:focus {
      outline-width: 0px;
    }
  }
}
.card {
  background-color: rgba(47, 43, 33, .3);
  border: 1px solid black;
  text-align: center;
  word-wrap: break-word;
  margin: 0 -5px;
}
.container-fluid {
  align-items: center;
}
.desc {
  min-height: 60px;
}
.cards {
  margin-top: 20px;
}
