body {
  background: linear-gradient( rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) ), url("http://www.psdgraphics.com/file/old-paper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
nav {
  background-color: rgba(47, 43, 33, .8) !important;
  // background-size: cover;
  border: none !important;
  a {
    color: salmon !important;
  }
  ul {
    float: right !important;
  }
  li {
    font-size: 17px;
    padding: 14px 5px;
    color: salmon;
  }
  li:hover {
    background-color: rgba(47, 43, 33, .4);
  }
}
h1 {
  color: red;
}

.form {
  margin: 0 auto;
  padding-top: 80px;
  width: 500px;
  color: grey;
  h2 {
    margin: 0 auto 40px;
    text-align: center;
  }
  form {
    input, label {
      display: block;
      margin: 20px auto;
      width: 70%;
      font-size: 17px;
      border: none;
    }
    .textInput {
      border-bottom: 2px solid red;
      background-color: rgba(0, 0, 0, 0) !important;
    }
    .textInput:focus {
      border-bottom: 4px solid red;
      outline-width: 0px;
    }

    .button {
      background-color: white;
      border: 1px solid rgba(47, 43, 33, 1);
      margin-top: 30px;
      color: rgba(47, 43, 33, 1);
      font-weight: 800;
      color: grey;
    }
    .button-three:focus {
      outline-width: 0px;
    }
    .button-three {
      color: black;
      position: relative;
      background-color: white;
      border: none;
      padding: 5px;
      width: 50%;
      text-align: center;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
    }

    .button-three:hover{
      background:#ffcc14;
      box-shadow:0px 2px 10px 5px #af8c0c;
      color:#000;
    }

    .button-three:after {
      content: "";
      background: #f1c40f;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px !important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s
    }

    .button-three:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
    }
  }
}
.card {
  background-color: rgba(47, 43, 33, .3);
  border: 1px solid black;
  text-align: center;
  word-wrap: break-word;
  margin: 0 -5px;
  div {
    margin-top: 10px;
    a {
      font-size: 17px
    }
  }
}
.container-fluid {
  align-items: center;
}
.desc {
  min-height: 60px;
}
.cards {
  margin-top: 20px;
}
.change {
  margin: 5px;
}
.product-ban, .request-ban {
  background-color: rgba(47, 43, 33, 1);
  color: salmon;
  text-align: center;
  padding: 10px;
}
.product-ban {
  margin-top: 0;
}
.user {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, .2);
  min-height: 100%;
  margin-top: -20px;

  h2 {
    text-align: center;
    font-size: 45px;
    color: rgba(47, 43, 33, 1);
    // text-decoration: underline red;
    border-bottom: 2px rgba(47, 43, 33, 1) solid;
  }

  .user-image {
    border-radius: 500px;
    height: 300px;
    width: 300px;
    margin: 10px 0 10px 100px;
    align-items: center;
    transition: border-radius 1s ease;

  }
  .user-image:hover {
    transition: border-radius 1s ease;
    border-radius: 0;
  }
  .user-info {
    text-align: center;
    // color: salmon;
    // line-height: 100px;
    h3 {
      font-size: 40px;
    }
    h4 {
      font-size: 30px;
    }
  }
  .user-bio {
    margin-top: 20px;
    p:first-child {
      font-size: 30px;
      font-weight: 400;
    }
    p {
      font-size: 20px;
      // float: right;
      margin-right: 100px;
      text-align: center;
    }
  }
}
.top {
  // background-color: rgba(47, 43, 33, .8);
  padding: 10px;
  // color: white;
  .filter {
    float: right;
    margin-right: 60px;
    // clear: both;
    // border-radius: 4px;
    padding: 10px;
    background-color: rgba(255, 0, 0, .7);
    height: 48px;
    color: white;
    font-size: 20px;
    label {
      font-weight: normal;

    }

    input {
      // padding-top: 3px;
      line-height: 10px;
      color: black;
    }
  }
  .create {
    display: inline;
    margin-left: 60px;
    // background-color: white;
    // padding: 10px;

  }
}
.button-two {
  // border-radius: 4px;
  background-color:rgba(255, 0, 0, .7);
  border: none;
  padding: 10px;
  width: 455px;
  transition: all 0.5s;
  color: white;
  font-size: 20px;
}


.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
  right: 0;
}
.title {
  text-align: center;
  font-size: 50px;
}
