<h2 class="title">Requests</h2>
<div class="top">

  <div class="create sub-main">
    <button ui-sref="requestsNew" class="button-two"><span>Create a new request!</span></button>
  </div>
  <div class="filter">
    <label for="filter">Filter by type of alcohol: </label>
    <input type="text" class="search" ng-model="request.q" placeholder="Search..." name="filter">
  </div>

</div>
<div class="container-fluid">
  <div ng-repeat="request in request.requests | filter: { alcohol: request.q } | filter: { status: 'pending'}">
    <div class="col-lg-3 col-md-3 col-s-12 cards">
      <div class="card yellow">
        <div>
          <a ui-sref="requestShow({ id: request.id })">Type of Alcohol: {{ request.alcohol }}</a>
          <div>
            <p>Flavor: {{ request.flavor }}</p>
            <p>Quantity: {{ request.quantity }}</p>
            <p class="desc">Additional notes: {{ request.notes }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="requestIndex">
<ul>
<li ng-repeat="request in request.requests | filter: { alcohol: request.q }">
<div>
<a ui-sref="requestShow({ id: request.id })">Type of Alcohol: {{ request.alcohol }}</a>
<p>Flavor: {{ request.flavor }}</p>
<p>Quantity: {{ request.quantity }}</p>
<p>Additional notes: {{ request.notes }}</p>
</div>
</li>
</ul>
</div> -->
