<h2 class="title">Request Show</h2>

<div class="request-show card yellow" style="background-color: rgba(255, 0, 0, .7)">
  <p>Type of Alcohol: {{ request.request.alcohol }}</p>
  <p>Flavor: {{ request.request.flavor }}</p>
  <p>Quantity: {{ request.request.quantity }}</p>
  <p>Additional notes: {{ request.request.notes }}</p>
  <a ui-sref="userShow({ id: request.request.user.id })">Created by: {{ request.request.user.username }}</a>
</div>
<h3 class="sub-title">Bids on this request</h3>
<!-- {{request.request.bids}} -->


<div class="container-fluid">
  <div ng-repeat="bid in request.request.bids">
    <div class="col-lg-3 col-md-3 col-s-12 cards">
      <div class="card-bid yellow"
      ng-class="{ accepted: bid.status === 'accepted', minHeight: main.user.id === request.request.user.id }" >
        <p>Price: {{ bid.price }}</p>
        <p>Location of brewer: {{ bid.location }}</p>
        <p>Time it will take to brew: {{ bid.time }}</p>
        <p>Status: {{ bid.status }}</p>
        <a ui-sref="userShow({ id: bid.user.id })" style="display: block; margin-bottom: 5px;">Created by: {{ bid.user.username }}</a>
        <p class="desc">Additional notes: {{ bid.description }}</p>

        <button type="button" name="button" ng-if="main.user.id === request.request.user.id && bid.status === 'pending'" ng-click="request.select(bid)" class="btn">Select this bid</button>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- TO CREATE A BID!!!!!!!!!!! -->
<button ng-click="request.newBid()" class="sub-title btn">Add a bid to this request</button>
<new-bids ng-if="request.bidN === true"></new-bids>








        <!-- <button type="button" name="button" ng-if="main.user.id === request.request.user.id && bid.status === 'accepted'" ng-click="request.unselect(bid)" class="btn">Un-select this bid</button> -->
