
<div class="request-show">
<h2>Request Show</h2>
  <p>Type of Alcohol: {{ request.request.alcohol }}</p>
  <p>Flavor: {{ request.request.flavor }}</p>
  <p>Quantity: {{ request.request.quantity }}</p>
  <p>Additional notes: {{ request.request.notes }}</p>
  <a ui-sref="userShow({ id: request.request.user.id })">Created by: {{ request.request.user.username }}</a>
</div>
<h4>Bids on this request</h4>
<!-- {{request.request.bids}} -->
<ul>
  <li ng-repeat="bid in request.request.bids" ng-class="{accepted: bid.status === 'accepted'}">
    <div>
      <p>Price: {{ bid.price }}</p>
      <p>Location of brewer: {{ bid.location }}</p>
      <p>Time it will take to brew: {{ bid.time }}</p>
      <p>Additional notes: {{ bid.description }}</p>
      <p>Status: {{ bid.status }}</p>
      <a ui-sref="userShow({ id: bid.user.id })">Created by: {{ bid.user.username }}</a>
      <button type="button" name="button" ng-if="main.user.id === request.request.user.id" ng-click="request.select(bid)">Select this bid</button>
    </div>
  </li>
</ul>



<!-- TO CREATE A BID!!!!!!!!!!! -->
<h3 ng-click="request.newBid()">****Add a bid to this request****</h3>
<new-bids ng-if="request.bidN === true"></new-bids>
